<div id="top">
	<div id="topWrapper">
		<a id="logo" href="{% url home %}"></a>
		
		<div id="userOptions">
			{% if user.is_authenticated %}
				Olá,
				{% with user.get_type as user_type %}
					{% if user_type == 'aluno' %} 
						<a href="{% url accounts:profile_student user.login %}">{{ user.nome }}</a>
					{% elif user_type == 'empregador' %}
						<a href="{% url accounts:profile_company user.login %}">{{ user.nome }}</a>
					{% endif %}
				{% endwith %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="{% url accounts:logout %}">Sair</a>
			{% else %}
				<a href="{% url accounts:login %}">Entrar</a>
				<a href="{% url accounts:registration %}">Cadastrar-se</a>
			{% endif %}
		</div>
	</div>
</div>