{% extends 'base.html' %}

{% block header %}
	<title>ContrataUSP - Adicionar endereço</title>
{% endblock %}

{% block body %}
	<h1>Adicionar endereço</h1>
	 
	<form action="{% url accounts:add_address_company %}" method="POST">
		{% csrf_token %}
		{% for field in form %}
	        <div class="fieldWrapper">
	        	{% if not field.is_hidden %}
	            	{{ field.label_tag }}
	            {% endif %}
	            {{ field }}
	            {{ field.errors }}
	        </div>
	    {% endfor %}
		<br /><br />
		<button type="submit">Adicionar</button>
	</form>
{% endblock %}