{% extends 'accounts/profile.html' %}

{% block header %}
	<title>{{ user.nome }} - ContrataUSP</title>
{% endblock %}

{% block profile %}
	<h1>{{ user.nome }}</h1>
	
	Login: <strong>{{ user.login }}</strong>
	<br />
	E-mail: <strong>{{ user.e_mail }}</strong>
	<br />
	Número de referências positivas: <strong>{{ user.empregador.num_referencias_positivas }}</strong>
	<br />
	Número de referências negativas: <strong>{{ user.empregador.num_referencias_negativas }}</strong>
	{% if user.empregador.get_type == 'juridico' %}
		<br />
		CNPJ: <strong>{{ user.empregador.juridico.cnpj }}</strong>
		<br />
		Número de funcionários: <strong>{{ user.empregador.juridico.numero_funcionarios }}</strong>
	{% endif %}
	{% if user.empregador.empresa_tem_endereco.count %}
		<br /><br />
		<h2>Endereços</h2>
		{% for endereco in user.empregador.empresa_tem_endereco.all %}
			Logradouro: <strong>{{ endereco.logradouro }}</strong>
			<br />
			Bairro: <strong>{{ endereco.bairro }}</strong>
			<br />
			Cidade: <strong>{{ endereco.cidade }}</strong>
			<br />
			CEP: <strong>{{ endereco.cep }}</strong>
			<br /><br />
		{% endfor %}
	{% endif %}
	{% if aluno_pode_querer %}
		<br /><br />
		<a href="{% url accounts:wish_company user.empregador %}">Desejo trabalhar com {{ user.nome }}</a>
		<br /><br />
	{% endif %}
	{% if estagios %}
		<h2>Estágios nesta empresa</h2>
		<br />
		{% for estagio in estagios %}
			<a href="{{ estagio.get_absolute_url }}">{{ estagio.nome }}</a>
			<br />
		{% endfor %}
	{% endif %}
{% endblock %}